<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      @if (count === 0) {
        <div>L</div>
      }
      @if (count > 0 && count < 10) {
        <div>hejjaaaa</div>
      }
      @if (count > 20) {
        <div>jsi mistr</div>
      }
      @if (count > 25) {
        <div>jsi velmistr</div>
      }
      @if (count > 30) {
        <div>delej aj jozik je lepsi</div>
      }
      @if (count > 35) {
        <div>jsi lepsi jak moon</div>
      }
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- https://www.youtube.com/watch?v=qTdwUpQRptc -->
<ion-content [fullscreen]="true">

  <div id="container" (click)="isClicked()" [ngClass]="bgColor">
    <div id="counter">{{ count }}</div>
  </div>

</ion-content>
